footer {
    width: 100%;
    padding: 15px;
    // background-color: $light-brown-color;
    background-image: $gradinet-image;
    color: $white-color;
    font-size: 36px;
    text-align: center;
}