.exercises {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    list-style-type: square;
    overflow: hidden;
    flex-wrap: wrap;

    &__list-element {
        margin: 25px 0;
        display: block;
        list-style-type: square;
        position: relative;

        &:first-child {
            margin-top: 30px;
        }

    }

    &__exercise-num {
        font-size: 26px;
        margin: 0 0 20px 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 120%;
            left: 0;
            height: 3px;
            width: 50vw;
            background-color: $dark-brown-color;
        }
    }

    &__txt {
        display: inline;
        font-size: 25px;
        font-family: lato;

    }

    &__answers {
        display: inline;
        font-size: 25px;
        font-family: lato;

        &__answer {
            display: inline;
            font-weight: bold;

            &:nth-child(1)::after,
            &:nth-child(2)::after {
                content: ' /';
                display: inline;
            }
        }

        .wrap-me {
            display: inline-block;
        }
    }
}

@media(min-width:480px) {
    .exercises {
        &__exercise-num {
            font-size: 36px;

            &::after {
                height: 4px;
            }
        }
    }
}

@media(min-width:880px) {
    .exercises {
        &__exercise-num {
            font-size: 40px;
        }

        &__txt,
        &__answers {
            font-size: 27px;
        }


    }
}

@media(min-width:1100px) {
    .exercises {
        flex-direction: row;
        justify-content: space-around;

        &__list-element {
            flex-basis: 45%;
            text-align: center;

            &:first-child {
                margin-top: 25px;
            }
        }



        &__exercise-num::after {
            width: 35vw;
            left: calc((100% - 35vw) / 2)
        }
    }
}

@media(min-width:1690px) {
    .exercises {
        &__list-element {
            flex-basis: 28%;
        }

        &__exercise-num::after {
            width: 24vw;
            left: calc((100% - 24vw) / 2)
        }

    }

}