.row {
    height: 200px;
    position: absolute;
    left: 0;
    width: calc(100% + 100px);
    margin: 0;
    -webkit-clip-path: polygon(0 18%, 100% 0, 100% 74%, 0 100%);
    clip-path: polygon(0 18%, 100% 0, 100% 74%, 0 100%);
    z-index: -1;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;

    &.beforeColumns {
        display: block;
    }

    &.inColumns {
        display: none;
    }

    &.palace {
        height: 60vh;
        top: 32vh;
        background-position: 89% 88%;
        // max-width: 100%;
        left: 0;
        background: url('../images/row-1280.jpg') no-repeat;
        background-position: 75% 117%;
        background-attachment: fixed;
        opacity: 0.4;
    }

    &.grunwald {
        background-color: black;
        top: 40vh;
        background: url('../images/grunwald.jpg') no-repeat;
        background-position: 89% 87%;
        background-attachment: fixed;
        opacity: 0.25;
        background-color: black;
        background-size: cover;
    }

    &.poniatowski {
        top: 50vh;
        background: url('../images/konstytucja.jpg') no-repeat;
        background-position: 63% 117%;
        background-attachment: fixed;
        opacity: 0.25;
        background-size: cover;
    }

    &.war {
        top: 47vh;
        background: url('../images/war.jpg') no-repeat;
        background-position: 63% 117%;
        background-attachment: fixed;
        opacity: 0.25;
        background-size: cover;
    }
}





@media(min-width:700px) {
    .row {
        height: 350px;
    }
}

@media(min-width:1100px) {
    .row {
        &.beforeColumns {
            display: none;
        }

        &.inColumns {
            display: block;
            left: 0;
        }

        &.grunwald {
            top: 20%;
        }

        &.poniatowski {
            top: 50%;
        }

        &.war {
            top: 80%;
        }

        &.palace {
            background: url('../images/row-1920.jpg') no-repeat;
            background-position: 75% 117%;
            background-attachment: fixed;
        }
    }
}