.section-about {
    min-height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 0 25px;

    &__title {
        text-align: center;
        margin: 20px auto;
        font-size: 50px;
    }

    &__desc {
        text-align: center;
        font-size: 23px;

        &__onBrown {
            color: $dark-brown-color;
            font-weight: bold;
        }

        &__last {
            display: block;
            margin: 10px auto;
            text-align: center;
            font-size: 1.2em;
        }
    }

    &__btn {
        width: $size1;
        height: $size1;
        font-size:calc(#{ $size1} * 0.95);
        line-height: $size1;
        margin: 10px auto 0;
        border: none;
        border-radius: 50%;
        background-image: $gradinet-image;
        color: $white-color;
        position: relative;
        overflow: hidden;


        &__fas {
            text-shadow: 0 calc(#{$size1} * -0.5) 0 white,
            0 calc(#{$size1} * -1) 0 white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 52%;
            left: 50%;
            // animation: btn-anim 2.75s infinite linear;
        }

        &:hover {
            cursor: pointer
        }
    }
}

@keyframes btn-anim {

    45% {
        transform: translate(-50%, -50%)
    }

    90% {
        top: 400%;
        transform: translate(-50%, -50%)
    }

    100% {
        top: 400%;
    }
}

@media(min-width:480px) {
    .section-about {
        &__title {
            font-size: 70px;
        }

        &__desc {
            font-size: 28px;
        }

        &__btn {
            width: $size2;
            height: $size2;
            font-size:calc(#{ $size2} * 0.75);
            line-height: $size2;
        }
    }
}

@media(min-width:680px) {
    .section-about {
        &__desc {
            font-size: 34px;
        }
    }
}

@media(min-width:980px) {
    .section-about {
        &__title {
            font-size: 75px;
        }

        &__desc {
            max-width: 900px;
            margin: 0 auto;
        }

        &__btn {
            width: $size3;
            height: $size3;
            font-size:calc(#{ $size3} * 0.75);
            line-height: $size3;
        }
    }
}

@media(min-width:1100px) {
    .section-about {
        &__desc {
            max-width: 1000px;
        }
    }
}