@import './variables.scss';
@import './header.scss';
@import './main.scss';
@import './row.scss';
@import './sectionabout.scss';
@import './footer.scss';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    
}